<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'étudiant</title>
    <span th:replace="~{page_home :: bootstrapImports}"></span>
</head>
<body>
<main>
    <h1 th:if="${student.getId()==null}">Formulaire d'ajout d'étudiant</h1>
    <h1 th:unless="${student.getId()==null}">Formulaire de modification d'étudiant</h1>
    <hr></hr>
    <form th:if="${student.getId()==null}" th:action="@{/ajout}"  th:object="${student}" method="post">
        <div>
            <label th:for="firstname"> Prenom de l'etudiant : </label>
            <input type="text" th:id="firstname" th:field="*{firstname}">
        </div>
        <div>
            <label th:for="lastname"> Nom de l'étudiant : </label>
            <input type="text" th:id="lastname" th:field="*{lastname}">
        </div>
        <div>
            <label th:for="age"> Age de l'étudiant : </label>
            <input type="number" th:id="age" th:field="*{age}">
        </div>
        <div>
            <label th:for="email"> email de l'étudiant : </label>
            <input type="text" th:id="email" th:field="*{email}">
        </div>
        <button class="btn btn-outline-success">Ajouter</button>
        <a class="btn btn-outline-danger" th:href="@{/students}">Annuler</a>
    </form>

    <form th:unless="${student.getId()==null}" th:action="@{/edit/{id}(id=${student.getId()})}"  th:object="${student}" method="post">
        <div>
            <label th:for="firstname"> Prenom de l'etudiant : </label>
            <input type="text" th:id="firstname" th:value="${student.firstname}" th:field="*{firstname}">
        </div>
        <div>
            <label th:for="lastname"> Nom de l'étudiant : </label>
            <input type="text" th:id="lastname" th:value="${student.lastname}" th:field="*{lastname}">
        </div>
        <div>
            <label th:for="age"> Age de l'étudiant : </label>
            <input type="number" th:id="age" th:value="${student.age}" th:field="*{age}">
        </div>
        <div>
            <label th:for="email"> email de l'étudiant : </label>
            <input type="text" th:id="email" th:value="${student.email}" th:field="*{email}">
        </div>
        <button class="btn btn-outline-warning">Modifier</button>
        <a class="btn btn-outline-danger" th:href="@{/students}">Annuler</a>
    </form>
</main>
</body>
</html>